<h1>Users#index</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>ユーザー名<th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |users| %>
		<tr>
			<td><%= users.user_name %></td>
			<td><%= link_to "ああああ", cardlists_index_path(users.id) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<p><%#= link_to "ユーザー情報", user_path(@user.id) %></p>
