<h1>マイページ</h1>

<table class="table">
	<tr>
		<th>ユーザー名</th>
		<td><%= @user.user_name %></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>イメージ</th>
		<td><%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg' %></td>
	</tr>
</table>

<p><%= link_to edit_user_path(@user.id), class: 'btn btn-default btn-lg btn-block' do %>
<i class="fa fa-arrow-left"></i>
ユーザー情報の編集
<% end %>
</p>