<h1>マイページ</h1>

<p>ユーザー名</p>
<%= @user.user_name %>
<br>
<br>
<p>メールアドレス</p>
<%= @user.email %>
<br>
<br>
<p>イメージ</p>
<%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg' %>

<br>

<p><%= link_to "ユーザー情報の編集", edit_user_path(@user.id) %></p>