	<h1><%= @cardlist.cardlist_name %></h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>表</th>
			<th>裏</th>
		</tr>
	</thead>
	<tbody>
		<% @cards.each do |card|%>
		<tr>
			<td><%= simple_format(card.front) %></td>

			<td class="back">
			<style>
			.background-color {background-color: white;}
			</style>

			<div class="div-action">
			<%= simple_format(card.back) %>
			</div>
			</td>

		</tr>
		<%end%>
	</tbody>
</table>

<h2><%= link_to "カードリスト編集", edit_cardlist_path(@cardlist.id) %></h2>

<script>
$(function(){
$('.div-action').on('click', function()  {
$(this).toggleClass('background-color');
});

});
</script>