	<h1><%= @cardlist.cardlist_name %></h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>表</th>
			<th>裏</th>
		</tr>
	</thead>
	<tbody>
		<% @cards.each do |card|%>
		<tr>
			<td><%= card.front %></td>
				<td class="back">

				<script>
				$(function() {
				$('.div-action').on('click', function()  {
				$(this).toggleClass('background-color');
				});

				});
				</script>
				<style>
				.background-color {color: white;}
				</style>

				<div class="div-action">
				<%= card.back %>
				</div>
				</td>
		</tr>
		<%end%>
	</tbody>
</table>

<h2><%= link_to "カードリスト編集", edit_cardlist_path(@cardlist.id) %></h2>






