<div class="jumbotron jumbotron-extend">
<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-md-offset-2 top1">

				<p>単語暗記サイト</p>
				<h1>RedCard</h1>

					<button type="button" class="btn btn-default"><%= link_to "ログイン", new_user_session_path %></button>

					<button type="button" class="btn btn-default"><%= link_to "新規登録", new_user_registration_path %></button>

			</div>
		</div>
	</div>
</div>

<div class="jumbotron top2">
<div class="container">
		<div class="row">
			<div class="col-md-6 picture-iphone">
				<%#= image_tag "picture3.jpg", :size => "300x600" %>
				<%= image_tag "/images/picture3.jpg", :size => "300x600" %>

			</div>
			<div class="col-md-6">
				<h2>赤い部分をクリックすると正解を確認できます。<br>
				<br>答えがわからなかった時は時間を置いて再度学習しましょう。</h2>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron top2">
<div class="container">
		<div class="row">
			<div class="col-md-6 picture-iphone">
				<%#= image_tag "picture2.jpg", :size => "300x600" %>
				<%= image_tag "/images/picture2.jpg", :size => "300x600" %>
			</div>
			<div class="col-md-6">
				<h2>覚えたカードは表示させないようにできます。<br>
				<br>覚えたカードが学習の度に表示されると煩わしいものです。<br>
			    <br>時間を置いた後に確認しましょう。</h2>
			</div>
		</div>
	</div>
</div>

